# Ignoro el entorno virtual venv
venv/

# Ignoro el __pycache__
__pycache*

# Ignoro el .egg-info
*.egg-info

# Ignoro .vscode
.vscode/

# Ignoro downloads
downloads/

## Ignoro archivos de tests
irrelevant_path.json

# Ignoro variables de entorno
.env
